body {
	background-color: #ADD8E6;
}
H3 {
	color: #00008B;
	text-align: center;
}
.esittely-box-container {
  position: absolute;
  margin-top: -324px;
  margin-left: 320px;
  padding-left: 10px;
  padding-right: 10px;
  width: 320px;
  height: 300px;
  padding-top: 20px;
  text-align: left;
  background-color: #87CEFA;
}

.esittely {
	color: #191970;

.tyopaikka {
  	color:black;
}

.tehtava {
	color: blue;
}

.kuvaus {
	color:green;
}

